@import "../src/abby";

$header-height: 7.3rem + $base-space * 2;
$navy: #311D3F;
$red: #E23E57;

body {
	background: color(white);
}

pre[class*=language-] {
	margin: 0 0 $base-space;
	padding: 0;
	background: none;

	code {
		margin-bottom: 0;
	}
}

.docs {
	@include clearfix;

	///
	/// HEADER
	///

	&-header {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: fixed;
		top: 0;
		min-height: 100vh;
		right: 0;
		width: 100%;
		z-index: 10;
		background: color(white);
		opacity: 0;
		visibility: hidden;
		transform: scale(1.5);
		@include ease();

		&--active {
			opacity: 1;
			visibility: visible;
			transform: scale(1);
		}

		@include bp(large) {
			display: flex;
			min-height: 0;
			flex-direction: row;
			margin-bottom: ($base-space * 2.25);
			padding: (0) ($base-space / 2);
			opacity: 1;
			visibility: visible;
			transform: none;
			backface-visibility: hidden;
			background: none;

			&--fixed {
				position: fixed;
				top: 0;
				left: 0;
				background: color(white);
				box-shadow: 0 6px 23px rgba(black, 0.1);
			}
		}
	}

	&-header-spacer {
		display: none;
		height: $header-height;

		&--active {
			display: block;
		}
	}

	&-nav {
		width: 100%;
		padding: ($base-space) (0);

		&__link {
			display: block;
			text-align: center;
			padding: ($base-space / 2.25) (0);
			color: $navy;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: ($base-space / 12);
			font-size: map-get($heading-sizes, 5);
			@include ease();

			&:hover {
				color: color(red);
			}
		}

		@include bp(large) {
			text-align: center;
			white-space: nowrap;
			overflow-x: scroll;
			padding: 0;

			&__link {
				display: inline-block;
				font-size: 1.3rem;
				padding: ($base-space) ($base-space / 1.5);
			}
		}
	}

	///
	/// INTRO
	///

	&-intro {
		@include clearfix;
		display: block;
		min-height: 850px;
		margin-bottom: ($base-space * 2);
		background: color(white);

		&__left {
			padding: ($base-space * 3) (0);
			background: color(white);
		}

		&__right {
			padding: ($base-space * 2) (0);
			background: color(light-grey);
		}

		&__wrapper {
			max-width: 700px;
			margin: 0 auto;
			padding: 0 ($base-space);

			@include bp(medium) {
				padding: 0 ($base-space * 2);
			}
		}

		&__heading {
			color: color(red);
			font-weight: 700;
			text-transform: uppercase;
			font-size: (7.258rem);
			text-shadow: 
				1px 1px mix(black, color(red), 30),
				2px 2px mix(black, color(red), 30),
				3px 3px mix(black, color(red), 30),
				4px 4px mix(black, color(red), 30),
				5px 5px mix(black, color(red), 30),
				6px 6px mix(black, color(red), 30);

			@include bp(large) {
				font-size: (7.258rem * 1.618);
			}
		}

		&__subheading {
			font-size: map-get($heading-sizes, 4);
			color: $navy;
		}

		.c-button {
			margin-right: ($base-space / 2);
			border-radius: 999px;

			&:hover {
				transform: scale(1.05);
			}
		}

		&__dl-btn {
			color: color(white);
			background: color(green);
			box-shadow: 
				1px 1px mix(black, color(green), 25),
				2px 2px mix(black, color(green), 25),
				3px 3px mix(black, color(green), 25),
				4px 4px mix(black, color(green), 25),
				5px 5px mix(black, color(green), 25);
		}

		&__gh-btn {
			box-shadow: 
				1px 1px mix(black, color(light-grey), 25),
				2px 2px mix(black, color(light-grey), 25),
				3px 3px mix(black, color(light-grey), 25),
				4px 4px mix(black, color(light-grey), 25),
				5px 5px mix(black, color(light-grey), 25);
		}

		code {
			display: inline-block;
			padding: ($base-space / 4) ($base-space / 1.5);
			background: $navy;
			color: color(white);
		}

		#___plusone_0 {
			vertical-align: middle !important;
		}

		@include bp(large) {
			display: flex;

			&__left,
			&__right {
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0;
			}
		}
	}

	///
	/// SECTIONS
	///

	&-section {
		@include clearfix;
		max-width: 740px;
		margin: (0) (auto) ($base-space);
		padding: (0) ($base-space);

		&__heading {
			text-align: center;
			position: relative;
			color: $navy;
			padding: ($base-space) (0);
			font-size: map-get($heading-sizes, 3);
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: ($base-space / 8);
		}

		.c-grid-last {
			margin-bottom: $base-space;
		}

		&--typography {

			.c-grid__col:first-of-type {
				margin-bottom: ($base-space);
			}

			@include bp(medium) {

				.grid__col:first-of-type {
					margin-bottom: 0;
				}
			}
		}

		&--grid {

			.c-grid__col {
				display: flex;
				align-items: center;
				padding-left: ($base-space / 2);
				height: 35px;
				margin-bottom: $grid-gutter;
				border-radius: 5px;
				background: color(light-grey);
			}
		}

		@include bp(medium) {
			margin: (0) (auto) ($base-space * 1);

			&__heading {
				margin-bottom: ($base-space * 2);
				font-size: map-get($heading-sizes, 2);
			}
		}
	}
}






.hamburger {

  $class: &; // root component class name

  padding: ($base-space / 2);
	position: fixed;
	top: ($base-space / 1.5);
	right: ($base-space / 1.5);
  z-index: 100;
	cursor: pointer;
	background: color(white);
	// remove tap highlight on android devices
	-webkit-tap-highlight-color: rgba(black, 0);

  &:focus {
    outline: none;
  }

  &:active {

    #{$class}-line {
      opacity: 0.5;
    }
  }

  &__patty {
    display: block;
    margin: 0 0 5px 0;
    width: 30px;
    height: 2px;
    background: $navy;
    pointer-events: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

	@include bp(large) {
		display: none;
	}
}