/*------------------------------------*		#ABBY
\*------------------------------------*/
/*------------------------------------*		#VARIABLES
\*------------------------------------*/
/**
 * FONT SIZING
 */
/**
 * FONT WEIGHTS
 */
/**
 * FONT FAMILY
 */
/**
 * BASE SPACING VALUE
 */
/**
 * BREAKPOINTS
 */
/**
 * GRID
 */
/**
 * COLORS
 */
/**
 * TRANSITIONS
 */
/*------------------------------------*		#MIXINS
\*------------------------------------*/
/*------------------------------------*		#MIXINS / BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*		#MIXINS / BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*    #MIXINS - TRANSITIONS
\*------------------------------------*/
/*------------------------------------*		#FUNCTIONS
\*------------------------------------*/
/**
 * COLORS
 */
/*------------------------------------*		#BASE
\*------------------------------------*/
/**
 * 1. Make every element inherit the value for the box-sizing property. This 
 * 		allows for easy overriding and cascading.
 */
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: inherit; }

/**
 * 1. Auto-hiding scrollbars are used if the element's content overflows
 *		(IE 10/11).
 * 2. Disable unwanted auto-enlargement of small text in mobile browsers.
 * 3. Set to border-box so the width/height of an element is calculated to
 *		include padding.
 * 4. Set root font-size to 0.625rem that 1rem == 10px.
 */
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 0.625rem;
  font-family: "Helvetica Neue", "Source Sans Pro", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.618;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  cursor: default; }

/**
 * 1. Hide auto element in Chrome 40+, iOS 8+, Safari 8+.
 */
audio:not([controls]) {
  display: none; }

details {
  display: block; }

input[type="number"] {
  width: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

main {
  display: block; }

pre {
  overflow: auto; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

[unselectable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

code,
kbd,
pre,
samp {
  font-family: monospace; }

/*------------------------------------*    #TYPOGRAPHY
\*------------------------------------*/
body {
  font-size: 1.618rem;
  color: #212121; }

p {
  margin: 0 0 2.61792rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 300;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #212121; }

h1 {
  font-size: 5.545rem;
  margin-bottom: 2.61792rem; }

h2 {
  font-size: 4.236rem;
  margin-bottom: 2.15644rem; }

h3 {
  font-size: 3.427rem;
  margin-bottom: 1.618rem; }

h4 {
  font-size: 2.618rem;
  margin-bottom: 1.21877rem; }

h5 {
  font-size: 2.148rem;
  margin-bottom: 0.99997rem; }

h6 {
  font-size: 1.618rem;
  margin-bottom: 0.76391rem; }

small {
  font-size: 75%; }

.underline {
  text-decoration: underline; }

/*------------------------------------*		#GRID
\*------------------------------------*/
.c-grid {
  display: block;
  width: 100%; }
  .c-grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .c-grid__col--1 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .c-grid__col--2 {
      -webkit-box-flex: 2;
      -webkit-flex: 2;
          -ms-flex: 2;
              flex: 2; }
    .c-grid__col--3 {
      -webkit-box-flex: 3;
      -webkit-flex: 3;
          -ms-flex: 3;
              flex: 3; }
    .c-grid__col--4 {
      -webkit-box-flex: 4;
      -webkit-flex: 4;
          -ms-flex: 4;
              flex: 4; }
    .c-grid__col--5 {
      -webkit-box-flex: 5;
      -webkit-flex: 5;
          -ms-flex: 5;
              flex: 5; }
    .c-grid__col--6 {
      -webkit-box-flex: 6;
      -webkit-flex: 6;
          -ms-flex: 6;
              flex: 6; }
  @media (min-width: 768px) {
    .c-grid {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: no-wrap;
          -ms-flex-wrap: no-wrap;
              flex-wrap: no-wrap; }
      .c-grid__col {
        margin-left: 1.00689rem; }
        .c-grid__col:first-child {
          margin-left: 0; } }

/*------------------------------------*		#LIST
\*------------------------------------*/
.c-list {
  margin: 0 0 2.61792rem; }
  .c-list .c-list {
    margin: 0 0 0 2.61792rem; }
  .c-list-item {
    margin-bottom: 0.65448rem; }
  .c-list--clean {
    list-style-type: none; }

/*------------------------------------*    #FORM
\*------------------------------------*/
.c-form {
  margin: 0 0 2.61792rem; }

.c-fieldset {
  border: none;
  margin: 0 0 1.30896rem; }

.c-label {
  display: block;
  margin-bottom: 0.43632rem; }

.c-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 3.92689rem;
  margin: 0 0 0.65448rem;
  padding: 0.65448rem 0.87264rem;
  border-radius: 5px;
  vertical-align: middle;
  border: 1px solid #BDBDBD;
  font: inherit;
  color: inherit;
  background: white; }
  .c-input:focus {
    outline: none;
    box-shadow: 0 0 4px 1px grey; }

.c-textarea {
  height: auto;
  min-height: 3.92689rem; }

.c-input-option {
  display: inline-block;
  margin-right: 0.43632rem;
  padding: 0;
  height: auto; }
  .c-input-option:focus {
    outline: none; }

/*------------------------------------*		#BUTTON
\*------------------------------------*/
.c-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  display: inline-block;
  margin: 0 0.43632rem 2.61792rem 0;
  padding: 0.87264rem 2.61792rem;
  border-radius: 5px;
  vertical-align: middle;
  white-space: nowrap;
  line-height: inherit;
  font-size: 1.618rem;
  cursor: pointer;
  color: #212121;
  background: #F1F1F1; }
  .c-button:focus {
    outline: none; }

/*------------------------------------*		#TABLE
\*------------------------------------*/
.c-table {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 2.61792rem;
  border-collapse: collapse; }

.c-th,
.c-td {
  padding: 1.30896rem; }

.c-th {
  text-align: left; }

.c-tr:nth-child(odd) .c-td {
  background: #F1F1F1; }

/*------------------------------------*		#CODE
\*------------------------------------*/
pre {
  display: block; }

pre > code {
  display: block;
  margin-bottom: 2.61792rem;
  white-space: pre;
  padding: 1.74528rem;
  font-size: 1.25rem; }

code {
  padding: 0.43632rem;
  border-radius: 5px;
  word-wrap: break-word;
  background: #F1F1F1;
  font-size: 1.618rem;
  color: #212121; }

/*------------------------------------*		#UTILITIES
\*------------------------------------*/
/**
 * CLEARFIX
 */
.u-clearfix:before, .u-clearfix:after {
  content: "";
  display: table; }

.u-clearfix:after {
  clear: both; }

/**
 * FONT-SIZES
 */
.u-heading-1 {
  font-size: 5.545rem;
  line-height: 1.2; }

.u-heading-2 {
  font-size: 4.236rem;
  line-height: 1.2; }

.u-heading-3 {
  font-size: 3.427rem;
  line-height: 1.2; }

.u-heading-4 {
  font-size: 2.618rem;
  line-height: 1.2; }

.u-heading-5 {
  font-size: 2.148rem;
  line-height: 1.2; }

.u-heading-6 {
  font-size: 1.618rem;
  line-height: 1.2; }

.u-heading-1 {
  margin-bottom: 2.61792rem; }

.u-heading-2 {
  margin-bottom: 2.15644rem; }

.u-heading-3 {
  margin-bottom: 1.618rem; }

.u-heading-4 {
  margin-bottom: 1.21877rem; }

.u-heading-5 {
  margin-bottom: 0.99997rem; }

.u-heading-6 {
  margin-bottom: 0.76391rem; }

/**
 * BACKGROUND-COLOR
 */
.u-bg-black {
  background-color: #212121 !important; }

.u-bg-dark-grey {
  background-color: #424242 !important; }

.u-bg-mid-grey {
  background-color: #BDBDBD !important; }

.u-bg-light-grey {
  background-color: #F1F1F1 !important; }

.u-bg-white {
  background-color: #FAFAFA !important; }

.u-bg-red {
  background-color: #F44336 !important; }

.u-bg-pink {
  background-color: #E91E63 !important; }

.u-bg-purple {
  background-color: #9C27B0 !important; }

.u-bg-indigo {
  background-color: #3F51B5 !important; }

.u-bg-blue {
  background-color: #2196F3 !important; }

.u-bg-cyan {
  background-color: #00BCD4 !important; }

.u-bg-green {
  background-color: #4CAF50 !important; }

.u-bg-yellow {
  background-color: #FFEB3B !important; }

.u-bg-orange {
  background-color: #FF9800 !important; }

.u-bg-brown {
  background-color: #795548 !important; }

body {
  background: #FAFAFA; }

pre[class*=language-] {
  margin: 0 0 2.61792rem;
  padding: 0;
  background: none; }
  pre[class*=language-] code {
    margin-bottom: 0; }

.docs:before, .docs:after {
  content: "";
  display: table; }

.docs:after {
  clear: both; }

.docs-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  min-height: 100vh;
  right: 0;
  width: 100%;
  z-index: 10;
  background: #FAFAFA;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1); }
  .docs-header--active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1); }
  @media (min-width: 960px) {
    .docs-header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      min-height: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-bottom: 5.89033rem;
      padding: 0 1.30896rem;
      opacity: 1;
      visibility: visible;
      -webkit-transform: none;
              transform: none;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      background: none; }
      .docs-header--fixed {
        position: fixed;
        top: 0;
        left: 0;
        background: #FAFAFA;
        box-shadow: 0 6px 23px rgba(0, 0, 0, 0.1); } }

.docs-header-spacer {
  display: none;
  height: 12.53585rem; }
  .docs-header-spacer--active {
    display: block; }

.docs-nav {
  width: 100%;
  padding: 2.61792rem 0; }
  .docs-nav__link {
    display: block;
    text-align: center;
    padding: 1.16352rem 0;
    color: #311D3F;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.21816rem;
    font-size: 2.148rem;
    -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1); }
    .docs-nav__link:hover {
      color: #F44336; }
  @media (min-width: 960px) {
    .docs-nav {
      text-align: center;
      white-space: nowrap;
      overflow-x: scroll;
      padding: 0; }
      .docs-nav__link {
        display: inline-block;
        font-size: 1.3rem;
        padding: 2.61792rem 1.74528rem; } }

.docs-intro {
  display: block;
  min-height: 850px;
  margin-bottom: 5.23585rem;
  background: #FAFAFA; }
  .docs-intro:before, .docs-intro:after {
    content: "";
    display: table; }
  .docs-intro:after {
    clear: both; }
  .docs-intro__left {
    padding: 7.85377rem 0;
    background: #FAFAFA; }
  .docs-intro__right {
    padding: 5.23585rem 0;
    background: #F1F1F1; }
  .docs-intro__wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 2.61792rem; }
    @media (min-width: 768px) {
      .docs-intro__wrapper {
        padding: 0 5.23585rem; } }
  .docs-intro__heading {
    color: #F44336;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 7.258rem;
    text-shadow: 1px 1px #ab2f26, 2px 2px #ab2f26, 3px 3px #ab2f26, 4px 4px #ab2f26, 5px 5px #ab2f26, 6px 6px #ab2f26; }
    @media (min-width: 960px) {
      .docs-intro__heading {
        font-size: 11.74344rem; } }
  .docs-intro__subheading {
    font-size: 2.618rem;
    color: #311D3F; }
  .docs-intro .c-button {
    margin-right: 1.30896rem;
    border-radius: 999px; }
    .docs-intro .c-button:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
  .docs-intro__dl-btn {
    color: #FAFAFA;
    background: #4CAF50;
    box-shadow: 1px 1px #39833c, 2px 2px #39833c, 3px 3px #39833c, 4px 4px #39833c, 5px 5px #39833c; }
  .docs-intro__gh-btn {
    box-shadow: 1px 1px #b5b5b5, 2px 2px #b5b5b5, 3px 3px #b5b5b5, 4px 4px #b5b5b5, 5px 5px #b5b5b5; }
  .docs-intro code {
    display: inline-block;
    padding: 0.65448rem 1.74528rem;
    background: #311D3F;
    color: #FAFAFA; }
  .docs-intro #___plusone_0 {
    vertical-align: middle !important; }
  @media (min-width: 960px) {
    .docs-intro {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .docs-intro__left, .docs-intro__right {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 0; } }

.docs-section {
  max-width: 740px;
  margin: 0 auto 2.61792rem;
  padding: 0 2.61792rem; }
  .docs-section:before, .docs-section:after {
    content: "";
    display: table; }
  .docs-section:after {
    clear: both; }
  .docs-section__heading {
    text-align: center;
    position: relative;
    color: #311D3F;
    padding: 2.61792rem 0;
    font-size: 3.427rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32724rem; }
  .docs-section .c-grid-last {
    margin-bottom: 2.61792rem; }
  .docs-section--typography .c-grid__col:first-of-type {
    margin-bottom: 2.61792rem; }
  @media (min-width: 768px) {
    .docs-section--typography .grid__col:first-of-type {
      margin-bottom: 0; } }
  .docs-section--grid .c-grid__col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 1.30896rem;
    height: 35px;
    margin-bottom: 1.00689rem;
    border-radius: 5px;
    background: #F1F1F1; }
  @media (min-width: 768px) {
    .docs-section {
      margin: 0 auto 2.61792rem; }
      .docs-section__heading {
        margin-bottom: 5.23585rem;
        font-size: 4.236rem; } }

.hamburger {
  padding: 1.30896rem;
  position: fixed;
  top: 1.74528rem;
  right: 1.74528rem;
  z-index: 100;
  cursor: pointer;
  background: #FAFAFA;
  -webkit-tap-highlight-color: transparent; }
  .hamburger:focus {
    outline: none; }
  .hamburger:active .hamburger-line {
    opacity: 0.5; }
  .hamburger__patty {
    display: block;
    margin: 0 0 5px 0;
    width: 30px;
    height: 2px;
    background: #311D3F;
    pointer-events: none; }
    .hamburger__patty:last-child {
      margin-bottom: 0; }
  @media (min-width: 960px) {
    .hamburger {
      display: none; } }
