@import "../src/variables";
@import "../src/mixins/mixins";
@import "../src/functions";

.docs {
	background: color(white);

	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: (0) ($base-space / 2);
		z-index: 10;
		background: color(white);
	}

	&-content {

	}

	&-nav {
		text-align: center;
		white-space: nowrap;
		overflow-x: scroll;

		&__link {
			display: inline-block;
			padding: ($base-space / 2) ($base-space);
			color: inherit;
		}
	}

	&-intro {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
		padding: ($header-height + $base-space) (0) ($base-space);
		text-align: center;
		background: color(white);

		&__wrapper {
			padding: 0 $base-space;
		}

		&__heading {
			font-size: $font-size-2;
		}

		&__subheading {
			font-size: $font-size-8;
		}

		&__dl-btn {
			color: color(white);
			background: color(green);
		}

		code {
			display: inline-block;
			padding: ($base-space / 4) ($base-space);
			background: #2b303b;
			color: color(white);
		}
	}

	&-section {
		max-width: 740px;
		margin: (0) (auto) ($base-space * 1.5);
		padding: (0) ($base-space * 2);

		.grid-last {
			margin-bottom: $base-space;
		}

		&--grid {

			.grid__col {
				display: flex;
				align-items: center;
				padding-left: ($base-space / 2);
				height: 35px;
				margin-bottom: $grid-gutter;
				border-radius: 5px;
				background: color(light-grey);
			}
		}
	}
}