@import "../src/variables";
@import "../src/mixins/mixins";
@import "../src/functions";
@import "../src/utilities";

$header-height: 4.8rem;

.docs {
	background: color(white);

	&-header {
		display: none;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: (0) ($base-space / 2);
		z-index: 10;
		background: color(white);
	}

	&-content {

	}

	&-nav {
		text-align: center;
		white-space: nowrap;
		overflow-x: scroll;

		&__link {
			display: inline-block;
			padding: ($base-space / 2) ($base-space);
			color: inherit;
		}
	}

	&-intro {
		display: block;
		min-height: 100vh;
		background: color(white);

		&__left,
		&__right {
			padding: ($base-space * 3) (0);
		}

		&__right {
			background: color(light-grey);
			
			h1 {
				color: #311D3F;
			}
		}

		&__wrapper {
			max-width: 700px;
			margin: 0 auto;
			padding: 0 ($base-space * 1.5);
		}

		&__heading {
			color: #311D3F;
			font-size: 6.327rem;
		}

		&__subheading {
			font-size: map-get($heading-sizes, 6);
		}

		&__dl-btn {
			color: color(white);
			background: #E23E57;
		}

		code {
			display: inline-block;
			padding: ($base-space / 4) ($base-space);
			background: #311D3F;
			color: color(white);
		}

		#___plusone_0 {
			vertical-align: middle !important;
		}

		@include bp(medium) {
			display: flex;

			&__left,
			&__right {
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0;
			}
		}
	}

	&-section {
		max-width: 740px;
		margin: ($base-space * 3) (auto);
		padding: (0) ($base-space * 2);

		.grid-last {
			margin-bottom: $base-space;
		}

		&--grid {

			.grid__col {
				display: flex;
				align-items: center;
				padding-left: ($base-space / 2);
				height: 35px;
				margin-bottom: $grid-gutter;
				border-radius: 5px;
				background: color(light-grey);
			}
		}
	}
}