/*------------------------------------*\
		#CODE
\*------------------------------------*/

pre {
	display: block;
}

pre > code {
	display: block;
	margin-bottom: $base-space;
  white-space: pre;
  padding: $base-space;
}

code {
	padding: ($base-space / 6);
	border-radius: 5px;
  word-wrap: break-word;
  background: $light-grey;
  font-size: $font-size-9;
  color: $text-color;
}