/**
 *
 * ABBY
 * TABLE
 *
 */

table,
.table {
	box-sizing: border-box;
	width: 100%;
	margin: (0) (0) ($base-space);
	border-collapse: collapse;
}

th,
.th,
td,
.td {
	padding: ($base-space / 2);
}

th,
.th {
	text-align: left;
	background: white;
}

tr,
.tr {

	&:nth-child(odd) {
		background: $light-grey;
	}
}