/*------------------------------------*\
		#TABLE
\*------------------------------------*/

table,
.table {
	box-sizing: border-box;
	width: 100%;
	margin: (0) (0) ($base-space);
	border-collapse: collapse;
}

th,
.th,
td,
.td {
	padding: ($base-space / 2);
}

th,
.th {
	text-align: left;
}

tr,
.tr {

	&:nth-child(odd) {

		td,
		.td {
			background: $light-grey;
		}
	}
}