/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

:root {
  font-size: $font-size-root;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-copy;
  font-weight: $font-weight-default;
  font-size: $font-size-body;
  line-height: $line-height-base;
  color: $text-color;
}

p {
  margin: 0 0 $base-space;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $base-space;
  line-height: $line-height-headings;
  font-weight: $font-weight-headings;
  font-family: $font-headings;
  color: $headings-color;
  line-height: 1.15;
}

h1 {
  font-size: $font-size-h1;
  line-height: 1;
}

h2 {
  font-size: $font-size-h2;
  margin-bottom: ($base-space / 2);
  line-height: 1.1;
}

h3 {
  font-size: $font-size-h3;
  margin-bottom: ($base-space / 3);
  line-height: 1.2;
}

h4 {
  font-size: $font-size-h4;
  margin-bottom: ($base-space / 4);
  line-height: 1.3;
}

h5 {
  font-size: $font-size-h5;
  margin-bottom: ($base-space / 5);
  line-height: 1.4;
}

h6 {
  font-size: $font-size-h6;
  margin-bottom: ($base-space / 6);
  line-height: 1.5;
}

small {
  font-size: 75%;
}

.underline {
  text-decoration: underline;
}