/*------------------------------------*\
		#UTILITIES
\*------------------------------------*/

/**
 * CLEARFIX
 */

.u-clearfix {
	@include clearfix;
}

/**
 * FONT-SIZES
 */

@each $key, $value in $heading-sizes {

	.u-font-#{$key},
	%u-font-#{$key} {
		font-size: $value;
		line-height: 1.15;
		margin-bottom: ($base-space / $key);
	}
}

/**
 * BACKGROUND-COLOR
 */

@each $key, $value in $colors {

	.u-bg-#{$key} {
		background-color: $value !important;
	}
}