/*------------------------------------*\
		#VARIABLES
\*------------------------------------*/


/**
 * FONT SIZING
 */

$font-size-root: 				0.625rem;
$line-height-base: 			1.618;
$line-height-headings: 	1.2;

$font-size-body: 1.618rem;

$heading-sizes: (
	1: 5.545rem,
	2: 4.236rem,
	3: 3.427rem,
	4: 2.618rem,
	5: 2.148rem,
	6: 1.618rem
);

$font-size-small: 1.25rem;

/**
 * FONT WEIGHTS
 */

$font-weight-default: 	300;
$font-weight-headings: 	300;

/**
 * FONT FAMILY
 */

$font-copy: 		'Helvetica Neue', 'Source Sans Pro', 'Arial', sans-serif;
$font-headings: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

/**
 * BASE SPACING VALUE
 */

$base-space: ($line-height-base) * ($font-size-body);

/**
 * BREAKPOINTS
 */

$breakpoints: (
	xsmall: 	400px,
	small: 		640px,
	medium: 	768px,
	large: 		960px,
	xlarge: 	1200px
);

/**
 * GRID
 */

$grid-gutter: ($base-space / 1.6);

/**
 * COLORS
 */

$colors: 	(
	black: 				#212121,
	dark-grey: 		#424242,
	mid-grey: 		#BDBDBD,
	light-grey: 	#F1F1F1,
	white: 				#FAFAFA,
	red: 					#F44336,
	pink: 				#E91E63,
	purple: 			#9C27B0,
	indigo: 			#3F51B5,
	blue: 				#2196F3,
	cyan: 				#00BCD4,
	green: 				#4CAF50,
	yellow: 			#FFEB3B,
	orange: 			#FF9800,
	brown: 				#795548
);

$headings-color: 	map-get($colors, black);
$text-color: 			map-get($colors, black);
$link-color: 			map-get($colors, purple);

/**
 * EASINGS
 */

$easings: (
	in: 						cubic-bezier(0.755, 0.05, 0.855, 0.06),
	in-back: 			cubic-bezier(0.6, -0.28, 0.735, 0.045),
	out: 					cubic-bezier(0.23, 1, 0.32, 1),
	out-back: 			cubic-bezier(0.175, 0.885, 0.32, 1.275),
	in-out: 				cubic-bezier(0.86, 0, 0.07, 1),
	in-out-back: 	cubic-bezier(0.68, -0.55, 0.265, 1.55)
);

$transition-ease: 	map-get($easings, out) !default;
$transition-speed: 	0.25 !default;